<div class="wrapper">
  <form class="form">
    <mat-form-field class="search-field" appearance="fill">
      <mat-label>Find images...</mat-label>
      <input type="search" [value]="state.keyword" matInput placeholder="Input images name..." (keyup)="searchEvent($event)">
      <span matSuffix>
        <mat-icon>search</mat-icon>
      </span>
    </mat-form-field>
  </form>
  <mat-paginator [length]="state.total"
    [pageSize]="state.perPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChanges($event)"
    aria-label="Select page">
  </mat-paginator>
  <div *ngIf="!state.isLoading && !state.isEmpty" class="bookmarks-grid">
    <div *ngFor="let image of state.images" class="bookmark-item">
      <a href="{{image.url}}_b.jpg">
        <img src="{{image.url}}_m.jpg" title="{{image.title}}">
      </a>
      <div class="name">{{image.title}}</div>
      <button class="bookmark-button" mat-raised-button color="primary">Bookmark it!</button>
    </div>
  </div>
  <div *ngIf="state.isLoading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="state.isEmpty" class="empty-search-result">
    <h1>
      No images here.
    </h1>
    <p>
      Would you try to search for anythink else?
    </p>
  </div>
</div>
